img{
    width: 30rem;
    height: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    height: 5rem;
    width: 7rem;
    border-radius: 15px;
}